.wrap-main {
  padding: 30px;
  min-height: calc(100vh - 64px);
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,62c4f9+0,46c9a4+100 */
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(left, #1e5799 0%, #62c4f9 0%, #46c9a4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1e5799 0%,#62c4f9 0%,#46c9a4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1e5799 0%,#62c4f9 0%,#46c9a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#46c9a4',GradientType=1 ); /* IE6-9 */

  .menu {
    min-height: calc(100vh - 184px);

    a {
      padding: 3px 10px;
      margin-right: 10px;
      border: 1px solid #efefef;
      border-radius: 50px;
      text-decoration: none;
    }
  }
  .footer {
    height: 60px;
  }
}