@import 'variables';

#choiceCarousel {
  position: relative;
  width: 80%;
  margin: 60px auto;

  .carousel-control {
    position: absolute;
    top: 50%;
    margin-top: -33.5px;
    height: 67px;
    width: 68px;
    text-align: center;

    .material-icons {
      font-size: 56px;
      color: $color-primary;

      &:hover {
        color: $color-primary-dark;
      }
    }

    &.right {
      right: -68px;

      .btn-arrow {
        float: left;
      }

      .material-icons {
        transform: rotate(180deg);
      }
    }

    &.left {
      left: -68px;
    }
  }

  .carousel-indicators {
    position: absolute;
    bottom: -40px;
    width: 100%;
    text-align: center;
    list-style-type: none;

    li {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 3px;
      border-radius: 100px;
      background-color: $color-primary;
      cursor: pointer;

      &.selected,
      &:hover {
        background-color: $color-primary-dark;
      }
    }
  }

  .carousel-inner {
    position: relative;
    overflow: hidden;

    .item {
      display: none;
      position: relative;
      transition: .6s ease-in-out left;

      &.next {
        position: absolute;
        display: block;
        top: 0;
        width: 100%;
        left: 0;

        &.left {
          animation: slidein-left 1s;
        }

        &.right {
          animation: slidein-right 1s;
        }
      }

      &.active {
        display: block;

        &.left {
          left: -100%;
          animation: slideout-left 1s;
        }

        &.right {
          left: 100%;
          animation: slideout-right 1s;
        }
      }

      img {
        display: block;
        height: auto;
        max-width: 100%;
        width: 100%;
        line-height: 1;
      }
    }
  }
}

@keyframes slideout-left {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes slidein-left {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes slideout-right {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes slidein-right {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
