$font-size-medium: 14px;
$font-weight-light: 200;
$font-color-default: #484848;

.input {
  width: 100%;
  padding: 0 12px;
  border: solid 1px #d5d5d5;
  font-size: $font-size-medium;
}

.input::placeholder {
  font-weight: $font-weight-light;
  color: #333;
  opacity: 1;
}

.basic {
  height: 32px;
  line-height: 32px;
  background-color: #fff;
}

.simple {
  height: 40px;
  line-height: 40px;
  border: 0;
}

.underline {
  height: 37px;
  color: $font-color-default;
  border: 0;
  border-radius: 0;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
