@import 'variables.scss';

.header {
  padding: 5px;
  font-weight: bold;
  background: $color-primary-dark;
  color: #fff;

  a {
    padding: 0 5px;
    border-left: 1px solid #fff;

    &:first-child {
      border-left: 0; 
    }
  }
}
